
.section1{
  height: 55vh;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  margin-top: 6rem;
}
.heading{
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 10rem;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
  background-image: url(./Components/images/img1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  animation: image_change 15s alternate infinite ease-in-out;
}
@keyframes image_change {
  
  0%{
      background-image: url(./Components/images/img2.jpg);
  }
  50%{
      background-image: url(./Components/images/img3.jpg);
  }
  100%{
      background-image: url(./Components/images/img4.jpg);
  }
}

.subheading{
  color: #DBDBDB;
  font-size: 3rem;
}
.container{
  max-width: 80%;
  margin: auto;
  text-align: center;
}


form{
  display: flex;
  margin-top: 30px;
  gap: 1rem;
  position: relative;

}
#search-img{
  height: 50px;
  width: 500px;
  background: transparent;
  border-radius: 5px;
  padding-left: 45px;
  box-shadow: inset 0 8px 60px rgba(229, 218, 241, 0.1),
              inset 0 8px 8px rgba(225, 217, 234, 0.1),
              inset 0 -4px 4px rgba(217, 209, 225, 0.1);
  border: 1px solid gray;
  font-size: 20px;
  transform: translateY(-2px);
  outline: none;
  color: white;

} 
form i{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 25%;
  left: 15px;
} 

.gallery{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery .images{
  columns: 4 200px;
  gap: 15px;
  max-width: 90%;
}

.images .card{
  display: flex;
  position: relative;
  list-style: none;
  margin-bottom: 14px;
  overflow: hidden;
}
.images .card .details{
  position: absolute;
  bottom: -100px;
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: bottom 0.1s ease;
  background: linear-gradient(to top,rgba(0,0,0,0.7),transparent);
}
.images .card:hover .details{
  bottom: 0;
  text-transform: capitalize;
}
.images img:hover{
  cursor: zoom-in;
}
.photographer{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-right: 10px;
  color: white;
}
.card .details button{
  padding: 3px 8px;
  font-size: 20px;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
}
.images img{
  width: 100%;
  border-radius: 5px;
}
@media screen and (max-width:1025px)  {
  .heading{
    text-align: center;
    font-size: 8rem;
  }
  .section1{
    text-align: center;
  }

}

@media screen and (max-width:769px)  {
  .gallery{
    margin-top: 5rem;
  }
  .heading{
    text-align: center;
    font-size: 7rem;
  }
  .section1{
    text-align: center;
  }

}

@media screen and (max-width:426px)  {
  .gallery{
    margin-top: 12rem;
  }
  .heading{
    text-align: center;
    font-size: 6rem;
    margin-left: 50px;
  }
  .section1{
    text-align: center;
  }
  form{
    margin-left:-250px;
    width: 100px;
  }
}
